<div class="flex-container">
    <div class="primary-text mx-auto">
        <h2>Mis publicaciones</h2>
        <p>Gestiona todas tus vacantes desde un mismo sitio</p>
        <div class="alert alert-primary" role="alert" style="color:rgb(22, 37, 207);">
            Tiempo Completo
          </div>
            <app-publication-card></app-publication-card>
          <div class="alert alert-success" role="alert" style="color:rgb(22, 207, 37);">
            Freelancer
          </div>
          <app-publication-card></app-publication-card>
    </div>

</div>

