.flex-container {
  margin-top: -86px;
  background-image: url(../../../assets/images/bg_home.png);
  width: 100%;
  height: 88vh;
  background-size: cover;
  .row {
    width: 40%;
    margin-top: -75px;
    h1 {
      margin-bottom: 30px;
      line-height: 2.88vw;
      color: white;
      font-weight: bolder;
      font-size: 2.77vw;
    }
    .search {
      width: 100%;
      padding: 25px;
      border-radius: 10px;
    }
    p {
      color: rgba(255, 255, 255, 0.575);
    }
  }
  .box-left {
    position: absolute;
    display: block;
    z-index: 9;
    width: 100%;
    p {
      margin-top: 20px;
    }
    .box-input {
      box-shadow: 0px 2px 15px rgba(103, 99, 139, 0.120674);
      border-radius: 10px;
      background: #fff;
      padding: 8px;
      input {
        border: 0px;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 20px;
        outline: none;
        width: calc(100% - 75px);
      }
      .btn-search {
        box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.343);
        border-radius: 15px;
        width: 75px;
        height: 61px;
        .image {
          width: 25px;
          height: 25px;
          &:hover {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}
.backList {
  width: 100%;
  height: fit-content;
  background-color: #f2f2f2;
  .texto {
    margin-left: 500px;
    padding: 50px;
    p {
      color: grey;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (max-width: 768px) {
  .flex-container {
    .row {
      width: 90%;
      h1 {
          font-size: 40px;
          line-height: 36px;
      }
    }
  }
  .box-left {
      p {
          font-size: 16px;
      }
  }
  .box-input {
    padding-top: 0 !important;
    height: 50px;
  }
  .btn-search {
    margin-top: -6px;
  }
  input {
    font-size: 13px !important;
  }
}
