<div class="bg-nav row">
    <button class="btn box-input">
        <div class="col">
            <input type="text" placeholder="Busqueda">
        </div>
        <div class="col">

<div class="input-group mb-3" style="height: 50px;">
    <select class="form-select" id="inputGroupSelect02" >
      <option selected>Tipo de oferta</option>
      <option value="1">Tiempo completo</option>
      <option value="2">Tiempo parcial</option>
    </select>
  </div>
        </div>
        <div class="col">
            <div class="input-group mb-3" style="height: 50px;">
                <select class="form-select" id="inputGroupSelect02" >
                  <option selected>Localización</option>
                  <option value="1">Full Remoto</option>
                  <option value="2">Madrid</option>
                  <option value="3">Barcelona</option>
                  <option value="4">Malaga</option>
                </select>
              </div>
        </div>
        <div class="search-container">
            <img class="image" src="assets/images/lupa.svg">
            <p>Buscar</p>
        </div>
    </button>
</div>
<ng-container *ngFor="let item of jobOffers">
    <app-listoffers [jobOffer]="item" ></app-listoffers>
</ng-container>
