<div class="offers" >
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col">
                <img src="{{jobOffer.b}}" alt="...">
            </div>
            <div class="col-xxl">
             <div class="card-body">
                  <h4 class="card-title">{{jobOffer.name}}</h4>
                  <h2><small class="text-muted">{{jobOffer.companyName}}</small></h2>
            </div>
        </div>
            <div class="col-md">
                <p class="card-text"><small class="text-muted">{{jobOffer.location}}</small></p>
            </div>
            <div class="col-md">
                <div class="card-color" [ngClass]="{'color-blue': jobOffer.b, 'color-green': jobOffer.g, 'color-purple': jobOffer.p, 'color-orange': jobOffer.o, 'color-red': jobOffer.r}">
                    <h5 class="card-text"><small>{{jobOffer.type}}</small></h5>
                </div>
            </div>
            <div class="col-md create-offer">
                <p class="card-text"><small class="text-muted">{{jobOffer.created}}</small></p>
            </div>
        </div>
    </div>
</div>
