.menuCenter {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  align-items: center;
  display: flex;
}
.btn-light {
  color: #0d1351;
  height: 41px;
  font-size: 14px;
  margin-left: 30px;
  border-radius: 6px;
}
.navbar {
  padding: 20px;
  width: 60%;
}
