<div class="alert alert-primary" role="alert" style="color:rgb(22, 37, 207);">
            Tiempo Completo
          </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <img class="image" src="../../../assets/images/shopify_logo.png" alt="">
          </div>
          <div class="col" style="margin-left: -110px;">
            <h3>Diseñador Grafico</h3>
            <p>Shopify</p>
          </div>
          <div class="col">
            <p>4 de Abril de 2021</p>
            <p>Madrid, España</p>
          </div>
          <div class="col">
            <div class="alert alert-primary" role="alert" style="color:rgb(22, 37, 207);font-weight: bold;">
                4 <br> CANDIDATOS
              </div>
          </div>
          <div class="col-12" style="width: 2%;margin-left: -100px;top:0;" >
            <div class="dropdown" >
              <a (click)="displayList()">
                <img src="../../../assets/images/vertmenu.svg" alt="">
              </a>
                <div class="dropdown-content" [ngClass]="{'dropdown-content':dropdown,'dropdown-content-off':!dropdown}">
                  <a href="/detail:id">Ver Detalle</a>
                  <a href="#">Eliminar</a>
                </div>
            </div>
          </div>
        </div>
      </div>

